apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: worker
  name: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - image: 008984192600.dkr.ecr.us-east-1.amazonaws.com/uat-app@sha256:6689c6ca8fa1fc8cd83c25089ba929d78f30d07dc2af1567783212272a853849
        name: worker
